h1 {
    color: red;
}

h2 {
    color: green;
    text-align: right;
}

h3, h4 {
    color: blue;
    text-align: center;
}

.left {
    border: 2px solid royalblue;
    color: darkturquoise;
    font-style: italic;

}

.center {
    border: 3px dotted red;
    text-align: center;
    color: darkolivegreen;
    font-weight: bold;
}

#right{
    border: 4px dashed yellow;
    text-align: right;
    color: darkmagenta;
    font-size: large; 
}